<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangshuo.basebus.mapper.BaseDriverConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhangshuo.basebus.model.BaseDriverConfig">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="user_id" property="userId" />
        <result column="platform_type" property="platformType" />
        <result column="device_name" property="deviceName" />
        <result column="platform_version" property="platformVersion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, create_date, update_date, user_id, platform_type, device_name, platform_version
    </sql>

</mapper>
