<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangshuo.basebus.mapper.BaseAppConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhangshuo.basebus.model.BaseAppConfig">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="name" property="name" />
        <result column="app_package" property="appPackage" />
        <result column="app_activity" property="appActivity" />
        <result column="app_waitactivity" property="appWaitactivity" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, create_date, update_date, name, app_package, app_activity, app_waitactivity, user_id
    </sql>

</mapper>
