<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangshuo.basebus.mapper.BaseDriverAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhangshuo.basebus.model.BaseDriverApp">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="app_config_id" property="appConfigId" />
        <result column="driver_config_id" property="driverConfigId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, create_date, update_date, app_config_id, driver_config_id
    </sql>

</mapper>
